<!--
 * Author: Junyuan Wu
 * Date: 2025-04-26
 * Description: Login page supporting login by username or email with AngularJS
-->

<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
  <meta charset="utf-8">
  <title>Login - Moss and Stones</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="loginController.js"></script>

  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="login-style.css" />
</head>

<body ng-controller="LoginController">
    
    <nav class="login-nav">
        <a href="home.html">HOME</a>
        <a href="about.html">ABOUT CREATOR</a>
      </nav>

  <div class="login-desktop">
    <div class="login-overlap-wrapper">
      <div class="login-overlap">

        <div class="login-group">
          <div class="login-overlap-group">
            <div class="login-title">Enter the tourist account</div>
            
            <!-- AngularJS login form, submits login data to the server -->
            <form class="login-form-wrapper" ng-submit="login()">
              <div class="login-form-field">
                <input type="text" class="login-input" ng-model="user.identifier" placeholder="Username / Email" required>
              </div>

              <div class="login-form-field">
                <input type="password" class="login-input" ng-model="user.password" placeholder="Password" required>
              </div>

              <button type="submit" class="login-button">Login</button>
            </form>

            <p class="login-subtitle">
                If you're a new user, enter a new username and password to register automatically.
              </p>

            <div class="login-message" ng-if="message">
              {{ message }}
            </div>

          </div>
        </div>

        <div href="login.html" class="login-moss-stones">
          Moss <br> and <br> Stones
        </div>

      </div>
    </div>
  </div>
</body>
</html>


